<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
      <meta charset="UTF-8">
      <title>Plataforma como Servicio - Heroku + Spring</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    
      <link rel="stylesheet" href="style.css">
    </head>
    
    <body>
        <!--h1>Inicio v.1</h1>
        <p th:text="${mensaje}"></p>

        <p><a th:href="@{/add}">Añadir Usuario</a></p>
       
       <table th:if="${usuarios!=null and !usuarios.empty}">
    	<tr>
    	  <th>Nombre</th>
    	  <th>Correo</th>
    	  <th>Acciones</th>
    	</tr>
    	<tr th:each="usuario : ${usuarios}">
          <td th:text="${usuario.nombre}">Nombre Persona</td>
    	  <td th:text="${usuario.email}">Correo Persona</td>
    	  <td>
    	      <a th:href="@{/edit/} + ${usuario.id}" th:text="Editar">Editar</a> | 
    	      <a th:href="@{/delete(id=${usuario.id})}" th:text="Eliminar">Eliminar</a>
    	  </td>
    	</tr>
    	</table>
    	<p th:if="${usuarios==null or usuarios.empty}">No hay usuarios</p-->	
	
<div class="modal-wrap">
  <div class="modal-header"><span class="is-active"></span><span></span><span></span></div>
  <div class="modal-bodies">
    <div class="modal-body modal-body-step-1 is-showing">
      <div class="title">Step 1</div>
      <div class="description"><p th:text="${mensaje}"></p></div>
      <form>
        <input type="text" placeholder="Name"/>
        <input type="email" placeholder="Email"/>
        <div class="text-center">
          <div class="button"><a th:href="@{/add}">Añadir Usuario</a><</div>
        </div>
      </form>
    </div>
    <div class="modal-body modal-body-step-2">
      <div class="title">Step 2</div>
      <div class="description">Would you rather</div>
       <table th:if="${usuarios!=null and !usuarios.empty}">
    	<tr>
    	  <th>Nombre</th>
    	  <th>Correo</th>
    	  <th>Acciones</th>
    	</tr>
    	<tr th:each="usuario : ${usuarios}">
          <td th:text="${usuario.nombre}">Nombre Persona</td>
    	  <td th:text="${usuario.email}">Correo Persona</td>
    	  <td>
    	      <a th:href="@{/edit/} + ${usuario.id}" th:text="Editar">Editar</a> | 
    	      <a th:href="@{/delete(id=${usuario.id})}" th:text="Eliminar">Eliminar</a>
    	  </td>
    	</tr>
    	</table>
    	<p th:if="${usuarios==null or usuarios.empty}">No hay usuarios</p>
    </div>
    <div class="modal-body modal-body-step-3">
      <div class="title">Step 3</div>
      <div class="description">Check your email for the game results.</div>
      <div class="text-center">
        <div class="button">Done!</div>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <div class="rerun-button">ReRun</div>
</div>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>

    <script src="index.js"></script>
	</body>
</html>
